/* hpp-talk */
.hpp_talk_img {
    width: auto!important;
    max-width: 100px!important;
}

.hppt_panel-footer {
    border-radius: 0 0 3px 3px!important;
    padding: 1px 15px!important;
    background-color: #a153ff!important;
}

#article-container img {
    margin: 0 auto 0rem!important;
}

.hppt_img-square {
    border-radius: 100%!important;
}

[data-theme='dark'] .hide-button, [data-theme='dark'] .btn-beautify, [data-theme='dark'] .mermaid, [data-theme='dark'] .post-outdate-notice, [data-theme='dark'] .error-img, [data-theme='dark'] #article-container iframe, [data-theme='dark'] img, [data-theme='dark'] .gist, [data-theme='dark'] .ads-wrap {
    filter: brightness(1)!important;
}

.hppt_text-muted {
    color: #f9a5fc!important;
}

.hppt_button_nextpage {
    width: 100px!important;
    height: 40px!important;
    border-width: 0px!important;
    border-radius: 100px!important;
    background: #dbbeff!important;
    cursor: pointer!important;
    outline: none!important;
    font-family: auto!important;
    font-size: 16px!important;
    margin: .2rem auto 0!important;
    display: block!important;
}

.hppt_button_nextpage.a {
    color: #000000!important;
    font-weight: bolder!important;
}
